@layer page {
  #sign-up-page-layout {
    --header-padding: 50px;
  }

  #sign-up-header {
    position: relative;
    background-image: url(/assets/img/olena-bohovyk-r0M9HrfJMBM-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    padding-block: var(--header-padding);
  }

  #header-img-credit {
    position: absolute;
    right: 10px;
    bottom: 0px;
    color: white;
    font-size: var(--fs-small);
    letter-spacing: 1.2px;
    text-shadow: 1px 1px 2px var(--text-shadow);
    text-align: center;
    min-width: 200px;
  }

  #sign-up-selling-point p {
    font-size: var(--fs-xl);
    font-weight: bold;
    max-width: 50ch;
  }
}

@media (min-width: 750px) {
  #sign-up-page-layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #sign-up-header {
    padding-top: calc(var(--header-padding) * 3);
  }

  #header-img-credit {
    right: 50%;
    transform: translateX(50%);
  }

  #sign-up-selling-point p:first-child {
    padding-top: calc(var(--header-padding) * 1.5);
  }
}
