@layer page {
  #sign-up-header {
    position: relative;
    background-image: url(/assets/img/olena-bohovyk-r0M9HrfJMBM-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    padding-block: 50px;
  }

  #header-img-credit {
    position: absolute;
    right: 10px;
    bottom: 0px;

    color: white;
    text-align: center;
  }
}

@media (min-width: 600px) {
}
