@layer base {
  :root {
    --fs-title: 6rem;
    --fs-xl: 1.5rem;
    --fs-x: 1.2rem;
    --fs-medium: 1rem;
    --fs-small: 0.875rem;

    --primary-color: #596d48;
    --light-surface-color: #f9fafb;
    --text-color: #1a1a1a;
    --text-color-faded: #575f69;
    --text-shadow: black;

    --inline-pad-size: 40px;
  }

  @font-face {
    font-family: Norse-Bold;
    src: url(/assets/fonts/Norse-Bold.otf);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: system-ui, sans-serif;
    background-color: var(--light-surface-color);
    margin: 0;
  }

  input,
  textarea,
  button,
  select {
    font: inherit;
    font-size: 100%;
  }

  a {
    color: inherit;
  }

  p {
    max-width: 60ch;
    color: var(--text-color);
  }

  legend {
    font-size: var(--fs-x);
  }

  .ax-button {
    all: unset;
    outline: revert;
    box-sizing: border-box;
  }
}
