@layer component {
  #sign-up-form {
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0 0 0 / 0.2);
    padding-block: 20px;
  }

  #sign-up-fieldset {
    border: 0;
    padding: 0;
    max-width: 600px;
  }

  #sign-up-fieldset legend {
    margin-bottom: 20px;
  }

  #sign-up {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 60px;
  }

  .sign-up__box {
    display: grid;
    gap: 4px;
  }

  .box-label {
    position: relative;
    font-size: var(--fs-small);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: var(--text-color-faded);
  }

  .box-label span {
    position: absolute;
    font-size: 16px;
    bottom: -5px;
    right: 0px;
  }

  .box-content {
    position: relative;
  }

  .box-content span::after {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
  }

  #passwordFieldState {
    position: absolute;
    top: -9999px;
  }

  @media (min-width: 950px) {
    #sign-up {
      grid-template-columns: 1fr 1fr;
    }
  }
}
