@layer component {
  input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
  }

  input:focus {
    outline: 0;
  }

  input:focus-visible {
    border: 2px solid rgb(20, 136, 174);
    box-shadow: 2px 2px 2px rgba(0 0 0 / 0.2);
  }

  .input-invalid {
    visibility: hidden;
  }

  /* input:invalid {
    border-color: red;
  } */

  /* input:valid + span::after {
    content: "✓";
    color: green;
  }

  input:invalid + span::after {
    content: "✖";
    color: red;
  } */
}
