@layer component {
  #sign-up-header {
    background-image: url(/assets/img/olena-bohovyk-r0M9HrfJMBM-unsplash.jpg);
    background-repeat: no-repeat;
  }

  #header-title {
    color: white;
  }

  #header-img-credit {
    color: white;
  }
}
