@layer component {
  #sign-up-header {
    position: relative;
    background-image: url(/assets/img/olena-bohovyk-r0M9HrfJMBM-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    padding-block: 50px;
  }

  #header-title-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    background-color: rgba(0 0 0 / 0.5);
  }

  #header-title {
    color: white;
    font-family: Norse-Bold;
    font-size: var(--fs-title);
    margin-block: 30px;
  }

  #header-img-credit {
    position: absolute;
    right: 10px;
    bottom: 0px;

    color: white;
    text-align: center;
  }
}
